body {
    margin-left: 64px;
    margin-right: 64px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #d3d3d3;
}

a {
  color: #5c29ad;
  text-decoration: none;
}

a:hover {
  color: #5aa0ff;
}

a:visited {
  color: #777777;
}

/* Button */
button {
  background-color: #2a7ae2; 
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  background-color: #5aa0ff;
}

input:focus,
textarea:focus,
select:focus {
  background-color: #fff9c4;
  outline: none;
}

li:last-child {
  font-style: oblique;
}

h1 {
    font-size: 60px;
    color: darkblue;
}

h2 {
    font-size: 48px;
    color: magenta
}

h3 {
    font-size: 32px;
    color: azure;
}

h4 {
    font-size: 18px;
    color: blueviolet;
}

h5 {
    color: darkkhaki;
}

h6 {
    color: ivory;
}

section {
    border: 1px aquamarine;
    background-color: #eeeeee;
}